<div class="message">
  <span class="message__name">
    <%= chat_message.user.name %>:
  </span>
  <div class="message__text message_current_user">
    <div><%= chat_message.message %></div>
  </div>
</div>
