/* FontAwesome for working BootSnippet :> */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

#team .card {
  border: none;
  background: #ffffff;
}

.user-box {
  margin-bottom: 30px;
}

.user-box .card {
  min-height: 312px;
}

.user-box .card .card-title {
  color: #007b5e !important;
}

.user-box .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
