/* FontAwesome for working BootSnippet :> */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#team {
  background: #eee !important;
}

.navbar {
  background-color: #3c455c;
}

a {
  text-decoration: none !important;
}

.title {
  font-family: cursive;
}

.search-button {
  border-radius: 2px !important;
}

.search-box {
  border-radius: 2px !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #966e52;
  border-color: #966e52;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #60412b;
  border-color: #60412b;
}

section {
  padding: 60px 0;
}

#team .card {
  border: none;
  background: #ffffff;
}

.user-box {
  margin-bottom: 30px;
}

.user-box .card {
  min-height: 312px;
}

.user-box .card .card-title {
  color: #60412b !important;
}

.user-box .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
