/* FontAwesome for working BootSnippet :> */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#team {
  background: #eee !important;
}

.navbar {
  background-color: #3c455c;
}

#nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  #nav {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .topPage {
    margin-top: 160px;
  }
}

a {
  text-decoration: none !important;
}

.title {
  font-family: cursive;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #966e52;
  border-color: #966e52;
  box-shadow: none;
  outline: none;
}

.search-button {
  border-radius: 2px !important;
  border-color: grey;
}

.search-box {
  border-radius: 2px !important;
}

.search-form {
  width: 60%;
}

.csv-btn {
  border-width: 1px;
  border-radius: 3px !important;
  height: 30px;
  border-color: grey;
}

.btn-primary {
  color: #fff;
  background-color: #60412b;
  border-color: #60412b;
}

section {
  padding: 60px 0;
}

#team .card {
  border: none;
  background: #ffffff;
}

.search-box {
  margin-bottom: 30px;
}

.user-box {
  margin-bottom: 30px;
}

.user-box .card {
  min-height: 312px;
}

.user-box .card .card-title {
  color: #60412b !important;
}

.user-box .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
